@import url("https://fonts.googleapis.com/css2?family=Madimi+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Madimi+One&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: rgb(144,254,255);
background: linear-gradient(27deg, rgba(144,254,255,1) 0%, rgba(255,174,0,1) 100%);
}
.container {
  max-width: 144rem;
  margin: 0 auto;
  padding: 2.4rem 2.4rem;
}
.header {
  width: 100%;
}

.header .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.header .container img {
  width: 40%;
  height: auto;
  border-radius: 1rem;
  border: 2px solid black;
}

.navbar {
  width: 80%;
  margin: 2rem auto 0.5rem auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.7rem 0;
  background-color: rgb(56, 53, 53);
  border-radius: 1rem;
  border: 2px solid solid;
}
.navbar ul {
  display: flex;
  gap: 2.4rem;
}

.navbar .list li {
  display: inline-block;
}

.navbar .list a {
  text-transform: capitalize;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 600;
  color: white;
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.main .container {
  width: 80%;
  background-image: url("https://www.zdnet.com/a/img/resize/67f3ed8ab4a45e3c0a72815bfb447b5326882e2b/2023/01/10/fe6fc344-ba1c-4205-9aa5-f6e7dea901ee/gettyimages-1397487342.jpg?auto=webp&precrop=6240,3504,x0,y530&width=1280");
  border-radius: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: 2px solid black;
}

.main .container:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.main .heading-div {
  padding: 2rem 0;
  text-transform: capitalize;
  color: rgb(255, 255, 255);
}

.main .main-heading {
  display: inline;
  background-color: rgba(0, 0, 0, 0.308);
  margin: 1rem 0;
  padding: 0.5rem;
  font-family: "Ubuntu", sans-serif;
  border-radius: 1rem;
}

.main .para-div {
  margin-right: 30%;
  text-align: left;
  margin-left: 5%;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.322);
  border-radius: 1rem;
}

.main .main-para {
  color: rgb(255, 255, 255);
  letter-spacing: 0.4px;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.box {
  width: 100%;
}

.box .container {
  width: 80%;
  padding: 1.2rem 0;
}

.grid {
  display: grid;
}

.grid-three--cols {
  grid-template-columns: repeat(3, 1fr);
  gap: 2.4rem;
}

.box .items {
  background-color: rgba(255, 255, 255, 0.735);
  padding: 2rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: 2px solid black;
}

.box .items:hover {
  box-shadow: rgba(0, 0, 0, 0.4) -5px 5px, rgba(17, 16, 16, 0.3) -10px 10px,
    rgba(30, 26, 28, 0.2) -15px 15px, rgba(70, 61, 67, 0.1) -20px 20px,
    rgba(45, 40, 43, 0.05) -25px 25px;
}

.box .items .common-title {
  margin-bottom: 1rem;
  font-family: "Ubuntu", sans-serif;
}

.box .items img {
  margin: 1rem auto;
  width: 80%;
  height: auto;
}

.box .items figure {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box .items .common-content {
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.box .items .item-anchor a {
  text-decoration: none;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.box .items .item-anchor {
  margin-top: 1rem;
  padding: 0.3rem;
  background-color: rgb(0, 0, 0);
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.box .items .item-anchor:hover {
  box-shadow: rgba(255, 255, 255, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset,
    rgba(255, 255, 255, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.footer {
  width: 100%;
}

.footer .container {
  width: 80%;
  justify-content: space-between;
  padding: 0.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.flex {
  display: flex;
}

.footer img {
  width: 17%;
  height: auto;
  border: 2px solid black;
}

.footer .copyright-content {
  position: relative;
}

.footer .copyright-content::before {
  content: "";
  position: absolute;
  border-top: 2px solid black;
  right: 0;
  top: -0.3rem;
  width: 280%;
}
.common-content a {
  display: inline;
}
strong {
  text-align: center;
  justify-content: center;
  padding-left: 6rem;
  
}
